<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-windows-libraries" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova-plugin-windows-libraries</name>
    <platform name="windows">
        <js-module name="DocumentsLibraryProxy" src="src/windows/documentsLibrary.js">
            <merges target="" />>
        </js-module>
        <config-file target="package.appxmanifest" parent="/Package/Capabilities">
            <uap:Capability Name="documentsLibrary" />
        </config-file>
        <config-file target="package.appxmanifest" parent="/Package/Applications/Application/Extensions" >
                <uap:Extension Category="windows.fileTypeAssociation">
                    <uap:FileTypeAssociation Name="text">
                        <uap:SupportedFileTypes>
                            <uap:FileType>.json</uap:FileType>
                        </uap:SupportedFileTypes>
                    </uap:FileTypeAssociation>
                </uap:Extension>
        </config-file>
    </platform>
    <js-module name="cordova-plugin-windows-libraries" src="www/cordova-plugin-windows-libraries.js">
        <clobbers target="documentsLibrary" />
        <clobbers target="cordova.plugins.documentsLibrary" />
        <clobbers target="plugins.documentsLibrary" />
    </js-module>
</plugin>
